<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message -->
<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<h2>Welcome <%- firstname%></h2>

<%if (locals.accountData.account_type == "Employee" ||
locals.accountData.account_type == "Admin") {%>
<h3>Inventory Management</h3>
<p><a id="info" href="/inv/">Access Management View</a></p>
<% } %>

<h3>Account Management</h3>
<a
  id="info"
  class="update-account"
  href="/account/update-account/<%- locals.accountData.account_id%>"
  >Update Account Information</a>
